<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>Online Shopper</title>
    </head>
    <body>
        <% include ../partials/nav %>
        <main role="main">
            <div id="container" class="fluid">
                <% include ../partials/jumbotron %>

                <div class="container"> 
                    <div class="row">
                        <% items.forEach(({image, title, description}, idx ) => { %> 
                            <div class="col-md-4" style="width:20rem;">
                                <div class="card">
                                    <img src="<%= image %>" class="card-img-top" alt="..." />
                                    <div class="card-body">
                                        <h5 class="card-title"><%= title %></h5>
                                        <p class="card-text"><%= description %> </p>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>    
        </main>
        <% include ../partials/footer %> 
        <% include ../partials/scripts %>
    </body>
</html>
